.moviescard__container {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 364px;
  max-height: 281px;
  overflow: hidden;

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background: #fdfdfd;
}

.moviescard__image {
  vertical-align: bottom;
  transition: all 0.16s linear;
  object-fit: cover;
}

.moviescard__image:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform-origin: 50% 100%;
}

.moviescard__details {
  padding: 16px;
  position: relative;
}

.moviescard__name {
  margin: 0 0 17px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.moviescard__duration {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

.moviescard__like-btn {
  background: no-repeat center/contain url('../../images/icon-heart.svg');
  padding: 0;
  margin: 0;
  width: 14px;
  height: 12px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 24px;
}

.moviescard__like-btn_liked {
  background: no-repeat center/contain url('../../images/icon-heart-liked.svg');
}

.moviescard__delete-btn {
  background: no-repeat center/contain url('../../images/icon-close.svg');
  display: none;
  padding: 0;
  margin: 0;
  width: 14px;
  height: 12px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 24px;
}

.moviescard__container:hover .moviescard__delete-btn {
  display: block;
}
