.not-found-page {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: relative;
  min-height: 100vh;
}

.not-found-page__container {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.not-found-page__title {
  /* margin: 184px 0 0; */
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found-page__text {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 183px;
}

.not-found-page__back-btn {
  /* margin-top: 183px; */
  color: #2be080;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .not-found-page__container {
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
